*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  padding-top: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-controler {
}

.grid {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.grid-row {
  display: inline-flex;
  gap: 10px;
}

.grid-row:nth-child(even) {
  flex-direction: row-reverse;
}

.grid-cell {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  cursor: pointer;
}
