*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  max-width: 800px;
  height: 500px;
  overflow-y: auto;
  margin: 5px auto;
  border: 1px solid #ccc;
}

.product-card {
  border: 1px solid #ccc;
  padding: 5px;
}
