*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  background: #cccccc95;
  outline: none;
  border: none;
  font-size: 20px;
  padding: 5px;
}

.player {
  position: relative;
  width: 1000px;
}

.controls {
}
